* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix {
  clear: both;
  height: 0; }

body {
  background-color: lightgrey; }

.container {
  max-width: 1165px;
  width: 100%;
  margin: 0 auto; }

header {
  background: #f6f7f6;
  color: #010101;
  padding-top: 55px;
  padding-bottom: 55px; }
  header .social {
    margin: 0;
    padding: 0; }
    header .social li {
      display: inline-block;
      margin-right: 33px; }
  header .page-title {
    text-align: center; }
  header .menu-column {
    text-align: right; }
    header .menu-column .toggle-menu {
      display: inline-block;
      width: 20px;
      border-top: 4px solid #010101;
      padding: 8px 0; }
      header .menu-column .toggle-menu:before {
        display: block;
        content: '';
        width: 20px;
        border-top: 2px solid #010101;
        border-bottom: 2px solid #010101;
        position: relative;
        top: -2px; }
      header .menu-column .toggle-menu:after {
        display: block;
        content: '';
        width: 20px;
        border-top: 2px solid #010101;
        border-bottom: 2px solid #010101;
        position: relative;
        bottom: -4px; }

.image-posts {
  padding-top: 65px; }
  .image-posts .photo-post {
    padding: 5px;
    background: #f6f6f6;
    margin-bottom: 34px; }
    .image-posts .photo-post .photo {
      width: 100%;
      height: auto; }
    .image-posts .photo-post .photo-post-inner {
      overflow: hidden;
      position: relative; }
    .image-posts .photo-post .sliding-top {
      position: absolute;
      width: 100%;
      top: -100%;
      background: rgba(0, 0, 0, 0.5);
      transition: all .3s ease-in-out;
      padding: 19px 15px; }
      .image-posts .photo-post .sliding-top .photo-title {
        float: left;
        width: 70%; }
        .image-posts .photo-post .sliding-top .photo-title h3 {
          font-size: 14px;
          margin: 0;
          color: #fff;
          font-weight: bold; }
        .image-posts .photo-post .sliding-top .photo-title p {
          margin: 0; }
        .image-posts .photo-post .sliding-top .photo-title p > a {
          color: #fff;
          font-size: 13px;
          text-decoration: none; }
      .image-posts .photo-post .sliding-top .photo-date {
        float: left;
        width: 30%; }
        .image-posts .photo-post .sliding-top .photo-date .month {
          color: #fff;
          margin: 0; }
        .image-posts .photo-post .sliding-top .photo-date .day {
          color: #fff;
          margin: 0; }
    .image-posts .photo-post .sliding-bottom {
      position: absolute;
      width: 100%;
      bottom: -100%;
      background: #f6f6f6;
      transition: all .3s ease-in-out; }
      .image-posts .photo-post .sliding-bottom .photo-credentials {
        padding: 29px 10px; }
        .image-posts .photo-post .sliding-bottom .photo-credentials .likes, .image-posts .photo-post .sliding-bottom .photo-credentials .comments {
          float: left;
          margin-right: 18px; }
          .image-posts .photo-post .sliding-bottom .photo-credentials .likes img, .image-posts .photo-post .sliding-bottom .photo-credentials .comments img {
            margin-right: 8px; }
          .image-posts .photo-post .sliding-bottom .photo-credentials .likes a, .image-posts .photo-post .sliding-bottom .photo-credentials .comments a {
            color: #9f9d9b;
            font-size: 13px;
            text-decoration: none; }
        .image-posts .photo-post .sliding-bottom .photo-credentials .toggle-screen {
          float: right; }
  .image-posts .photo-post:hover .sliding-top {
    top: 0; }
  .image-posts .photo-post:hover .sliding-bottom {
    bottom: 0; }

.contact-form .contact-me {
  background-color: white;
  padding: 48px 30px 50px 30px;
  margin: 15px 35px 15px 15px;
  width: 47.5%; }
  .contact-form .contact-me p {
    margin-top: 20px; }
    .contact-form .contact-me p .contact-input {
      background-color: gainsboro;
      text-decoration: none;
      display: inline-block;
      width: 50%;
      height: 49px;
      border: 1px solid #d7d7d7;
      padding-left: 10px; }
      .contact-form .contact-me p .contact-input:focus {
        border: 1px solid #d7d7d7;
        outline: 0; }
    .contact-form .contact-me p .color-grey {
      padding-left: 5%; }
    .contact-form .contact-me p .color-orange {
      padding-left: 5%; }
    .contact-form .contact-me p .contact-area {
      display: inline-block;
      background-color: gainsboro;
      text-decoration: none;
      width: 99%;
      height: 248px;
      border: 1px solid #d7d7d7;
      padding-left: 10px;
      margin-bottom: 20px;
      padding-left: 10px; }
      .contact-form .contact-me p .contact-area:focus {
        border: 1px solid #d7d7d7;
        outline: 0; }
  .contact-form .contact-me button {
    padding: 16px 60px 15px 60px; }

.contact-form .post {
  background-color: white;
  margin-top: 16px;
  margin-right: 27px;
  width: 21.75%;
  padding: 48px 30px 35px 30px; }

.contact-form .BW-Newsletter-down {
  background-color: white;
  padding: 48px 30px 30px 30px;
  margin: -273px 31px 15px 15px;
  width: 45.5%;
  float: right;
  text-align: center; }
  .contact-form .BW-Newsletter-down h2 {
    margin-top: 13px; }
  .contact-form .BW-Newsletter-down .main-input {
    margin-top: 35px;
    background-color: gainsboro;
    text-decoration: none;
    display: inline-block;
    width: 80%;
    height: 49px;
    border: 1px solid #d7d7d7;
    padding-left: 10px; }
    .contact-form .BW-Newsletter-down .main-input:focus {
      border: 1px solid #d7d7d7;
      outline: 0; }
  .contact-form .BW-Newsletter-down button {
    padding: 16px 60px 15px 60px; }
